.SearchResults {
  overflow-y: scroll;
  width: 45%;
  height: 950px;
  padding: 2.27rem 1.16rem;
  background-color: rgba(1, 25, 131, 0.603);
  box-shadow: 0 4px 2px 2px #000000;
}

.results-title {
  font-size: 1.55rem;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid #6f6f6f;
  padding: 8px 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
  
@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 100%;
    margin-bottom: 2rem;
  }
}